! -- URxvt Settings --
URxvt.termName: rxvt-unicode
URxvt.geometry: 134x35+240x400
URxvt.scrollBar: false
URxvt.internalBorder: 14

! -- Colors --
#include "/home/blackcat/.colors/smooth"
 
! -- General Settings --
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:    96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba: rgb

! -- Perl Extention --
URxvt.perl-lib: ~/.urxvt/urxvt-perls
URxvt.perl-ext-common:  default,matcher,clipboard
URxvt.clipboard.autocopy: true
 
! -- Keybind --
URxvt.iso14755: False
URxvt.keysym.Shift-Alt-C: perl:clipboard:copy
URxvt.keysym.Shift-Alt-V: perl:clipboard:paste

! -- Fonts --
URxvt*font: -benis-lemon-medium-r-normal--10-110-75-75-m-50-iso8859-1
URxvt*boldFont: -benis-lemon-medium-r-normal--10-110-75-75-m-50-iso8859-1
URxvt*italicFont: -benis-lemon-medium-r-normal--10-110-75-75-m-50-iso8859-1
URxvt*bolditalicFont: -benis-lemon-medium-r-normal--10-110-75-75-m-50-iso8859-1

